/* NAV MENU */
nav {
    height: 8rem;
    position: fixed;
    top:0;
    background-color: #75857a;
    opacity: 0.9;
    z-index: 10;
    width: 100%;
    
    }

.nav-items {
    display: flex;
    justify-content:space-between;
    margin: 0 2rem;
    /* outline: solid 1px red; */
}

.links {
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    justify-content: center;
    padding-top: 3rem;
    /* outline: solid 1px red; */

}

.links a {
    margin: 0 30px;
    
}


.socials img {
    height: 3rem;
    padding: 2.5rem 1rem;
    
}

.socials {
    /* outline: 1px solid red; */
    padding-bottom: 7rem;
    

}

/*   END */